* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
}

#root {
  height: 100%;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --primary-font-color: #ffffff;
  --secondary-font-color: #9ca3af;
  --destructive-color: #ff0000;
  --warning-color: #ffcc00;
  --success-color: #00ff00;
  --primary-color: #0f1826;
  --secondary-color: #1d2936; /* #1f2937; */
  --pallete-color-1: #0060ac;
  --primary-font-color-rgb: 255, 255, 255;
  --secondary-font-color-rgb: 156, 163, 175;
  --destructive-color-rgb: 255, 0, 0;
  --warning-color-rgb: 255, 204, 0;
  --success-color-rgb: 0, 255, 0;
  --primary-color-rgb: 15, 24, 38;
  --secondary-color-rgb: 29, 41, 54; /* 31, 41, 55; */
  --pallete-color-1-rgb: 0, 96, 172;
  --font-size-huge: 3rem;
  --font-size-large: 1.875rem;
  --font-size-medium: 1.25rem;
  --font-size-small: 1rem;
  --font-size-xsmall: 0.8rem;
  --font-size-button-medium: 1.125rem;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --line-height-huge: 3.75rem;
  --line-height-large: 2.25rem;
  --line-height-medium: 1.75rem;
  --line-height-small: 1.5rem;
  /* --line-height-xsmall: 0.96rem; */
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Open Sans", sans-serif;
  --border-radius: 0.5rem;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-1.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes flipIn {
  0% {
    transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
