.navbar {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
  border-bottom: 0.125rem solid var(--secondary-color);
  backdrop-filter: blur(0.25rem);
  z-index: 100;
}

.navbarContainer {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 0rem 1.5rem;
  gap: 0rem 0.625rem;
}

.navbarContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0rem;
  row-gap: 0rem;
  flex-wrap: wrap;
  align-content: center;
}

.navbarLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem;
  gap: 2rem;
  flex-wrap: wrap;
  align-content: center;
}

.navbarLinkGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem;
  gap: 1.625rem;
  flex-wrap: wrap;
  align-content: center;
}

.navbarLogo {
  text-decoration: none;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--primary-font-color);
  animation: varr(--animation-fadeIn) 1.5s;
}

.navLink {
  text-decoration: none;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-small);
  color: var(--secondary-font-color);
  transition: transform 0.3s ease-in-out;
  animation: var(--animation-slideDown) 1.8s;
}

.navLink:hover {
  /* color: var(--pallete-color-1); */
  transform: scale(1.05);
}

.navLink:nth-child(1) {
  animation-delay: 0s;
}

.navLink:nth-child(2) {
  animation-delay: 0.2s; /* Delay second link by 0.3s */
}

.navLink:nth-child(3) {
  animation-delay: 0.4s; /* Delay third link by 0.6s */
}

.navbarAuthButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem;
  gap: 0.625rem;
  flex-wrap: wrap;
  align-content: center;
  animation: varr(--animation-fadeIn) 1.5s;
}

.btnLogin {
  color: var(--primary-font-color) !important;
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-1.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */
